 ~ html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
p {
  line-height: 1.25;
  margin: 20px 0;
  font-size: 1rem;
  color: rgba(168, 160, 160, 0.801);
}
img {
  width: 50%;
  height: auto;
}
@media (max-width: 991px) {
  img {
    width: 100%;
  }
}
.container {
  font-size: 1rem;
  width: 50%;
  margin: auto;
  background-color: #010f18;
}
@media (max-width: 991px) {
  .container {
    width: 50%;
  }
}
.top-section {
  background-color: rgba(155, 5, 5, 0.801);
}
.top-section .nav {
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 991px) {
  .top-section .nav {
    display: flex;
    flex-direction: column;
    margin-left: 40%;
  }
}
.top-section a {
  margin: 10px;
  color: #fcfcfc;
  font-family: fantasy;
}
.header {
  color: whitesmoke;
  font-family: Verdana;
}
.header h1 {
  border-bottom: 1px solid white;
  padding-bottom: 5px;
}
.header span {
  font-size: 1rem;
  font-style: italic;
}
.header p {
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-style: italic;
}
.header button {
  background-color: goldenrod;
  border-radius: 5px;
  color: whitesmoke;
  height: 20px;
  margin-left: 25%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.bottom-section {
  background-color: #e2a705;
  display: flex;
  flex-direction: row;
}
@media (max-width: 991px) {
  .bottom-section {
    display: flex;
    flex-direction: column;
  }
}
.bottom-section h2 {
  color: rgba(255, 0, 0, 0.863);
}
.bottom-section p {
  color: white;
  font-size: 1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bottom-section #bio {
  width: 70%;
}
@media (max-width: 991px) {
  .bottom-section #bio {
    width: 100%;
  }
}
.bottom-section #skills {
  width: 50%;
  margin-left: 25%;
  border: 1px solid black;
}
@media (max-width: 991px) {
  .bottom-section #skills {
    width: 100%;
    border: 0px;
  }
}
